[submodule "Checkout-Example"]
	path = Checkout-Example
	url = https://github.com/oscarfgutierrezo/Checkout-Example
[submodule "Pricing-Example"]
	path = Pricing-Example
	url = https://github.com/oscarfgutierrezo/Pricing-Example
[submodule "Product-Example"]
	path = Product-Example
	url = https://github.com/oscarfgutierrezo/Product-Example
[submodule "Headers-Example"]
	path = Headers-Example
	url = https://github.com/oscarfgutierrezo/Headers-Example
[submodule "Heroes-Example"]
	path = Heroes-Example
	url = https://github.com/oscarfgutierrezo/Heroes-Example
[submodule "Feature-Example"]
	path = Feature-Example
	url = https://github.com/oscarfgutierrezo/Feature-Example
[submodule "Sidebars-Example"]
	path = Sidebars-Example
	url = https://github.com/oscarfgutierrezo/Sidebars-Example
[submodule "Footers-Example"]
	path = Footers-Example
	url = https://github.com/oscarfgutierrezo/Footers-Example
[submodule "Dropdowns-Example"]
	path = Dropdowns-Example
	url = https://github.com/oscarfgutierrezo/Dropdowns-Example
[submodule "List-groups-Example"]
	path = List-groups-Example
	url = https://github.com/oscarfgutierrezo/List-groups-Example
[submodule "Modals-Example"]
	path = Modals-Example
	url = https://github.com/oscarfgutierrezo/Modals-Example
[submodule "Trafalgar-Example"]
	path = Trafalgar-Example
	url = https://github.com/oscarfgutierrezo/Trafalgar-Example
[submodule "Components-Example"]
	path = Components-Example
	url = https://github.com/oscarfgutierrezo/Components-Example
[submodule "Navigation-Example"]
	path = Navigation-Example
	url = https://github.com/oscarfgutierrezo/Navigation-Example
[submodule "Hero-Example"]
	path = Hero-Example
	url = https://github.com/oscarfgutierrezo/Hero-Example
[submodule "Content-Example"]
	path = Content-Example
	url = https://github.com/oscarfgutierrezo/Content-Example
[submodule "Feature-Example-02"]
	path = Feature-Example-02
	url = https://github.com/oscarfgutierrezo/Feature-Example-02
[submodule "Forms-Example"]
	path = Forms-Example
	url = https://github.com/oscarfgutierrezo/Forms-Example
[submodule "Call-to-action-Example"]
	path = Call-to-action-Example
	url = https://github.com/oscarfgutierrezo/Call-to-action-Example
[submodule "Contacts-Example"]
	path = Contacts-Example
	url = https://github.com/oscarfgutierrezo/Contacts-Example
[submodule "Footers-02-Example"]
	path = Footers-02-Example
	url = https://github.com/oscarfgutierrezo/Footers-02-Example
[submodule "Testimonials-Example"]
	path = Testimonials-Example
	url = https://github.com/oscarfgutierrezo/Testimonials-Example
[submodule "Ecommerce-Example"]
	path = Ecommerce-Example
	url = https://github.com/oscarfgutierrezo/Ecommerce-Example
[submodule "Showcase-Example"]
	path = Showcase-Example
	url = https://github.com/oscarfgutierrezo/Showcase-Example
[submodule "Team-Example"]
	path = Team-Example
	url = https://github.com/oscarfgutierrezo/Team-Example
[submodule "Pricing-Tables-Example"]
	path = Pricing-Tables-Example
	url = https://github.com/oscarfgutierrezo/Pricing-Tables-Example
[submodule "Pages-Example"]
	path = Pages-Example
	url = https://github.com/oscarfgutierrezo/Pages-Example
[submodule "LaslesVPN-Example"]
	path = LaslesVPN-Example
	url = https://github.com/oscarfgutierrezo/LaslesVPN-Example
[submodule "ShoppingCart-Example"]
	path = ShoppingCart-Example
	url = https://github.com/oscarfgutierrezo/ShoppingCart-Example
[submodule "BudgetPlanner"]
	path = BudgetPlanner
	url = https://github.com/oscarfgutierrezo/BudgetPlanner
[submodule "PetCare-Example"]
	path = PetCare-Example
	url = https://github.com/oscarfgutierrezo/PetCare-Example
[submodule "PixabayAPI-Example"]
	path = PixabayAPI-Example
	url = https://github.com/oscarfgutierrezo/PixabayAPI-Example
[submodule "CryptoCompareAPI-Example"]
	path = CryptoCompareAPI-Example
	url = https://github.com/oscarfgutierrezo/CryptoCompareAPI-Example
[submodule "GiphyAPI-Example"]
	path = GiphyAPI-Example
	url = https://github.com/oscarfgutierrezo/GiphyAPI-Example
[submodule "TodoApp-Example"]
	path = TodoApp-Example
	url = https://github.com/oscarfgutierrezo/TodoApp-Example
[submodule "Hazard-Example"]
	path = Hazard-Example
	url = https://github.com/oscarfgutierrezo/Hazard-Example
